<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/retest.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/userStatus.css"/>
</head>
<body>
<main class="content">
    <h1>用户名添加成功</h1>
    <div class="userInfor">您的用户名为<%=userName%>，您的密码为<%=userPwd%></div>
</main>
</body>
</html>